<div class="container-root">
  <div class="row h-100">
    <!-- Left: Table -->
    <div class="col-8 d-flex flex-column section-list border-end h-100">
      <div class="d-flex align-items-start justify-content-between gap-5" style="height: 10%">
        <div class="d-flex align-items-center justify-content-start gap-5">
          <div>
            <label class="form-label" style="font-size: 14px">{{'ChooseScreen' | translate}}:</label>
            <ejs-dropdownlist [dataSource]="listScreens" [fields]="{text: 'ScreenName', value: 'ScreenID'}"
              [(ngModel)]="valueSelectedScreen" [placeholder]="'ChooseScreen' | translate" [allowFiltering]="true"
              (ngModelChange)="onChangeScreenSearchModal($event)" name="searchModalByScreen"></ejs-dropdownlist>
          </div>
          <div>
            <label class="form-label" style="font-size: 14px">{{ 'ChooseModal' | translate }}:</label>
            <ejs-dropdownlist [disabled]="valueSelectedScreen==''" [dataSource]="listModalOfScreen"
                              [fields]="{text: 'ModalName', value: 'ModalID'}" [(ngModel)]="valueSelectedModal"
                              (ngModelChange)="onChangeModalSearchButton($event)" [placeholder]="'Chọn Modal'" [allowFiltering]="true"
                              name="searchModal"></ejs-dropdownlist>
          </div>
        </div>
        <div class="flex-grow-1  d-flex justify-content-end mb-3 gap-3" style="margin-right: 1rem; margin-top: 2rem">
          <button [disabled]="!is_CheckUpdateButtonOfModal" type="button" class="btn btn-success" (click)="onSave()" style="min-width: 100px">{{'Save' | translate}}</button>
          <button [disabled]="!is_CheckUpdateButtonOfModal" type="button" class="btn btn-secondary" style="min-width: 100px"
            (click)="onResetChoose()">{{'Reset' | translate}}
          </button>
        </div>
      </div>
      <!--      Table-->
      <div style="height: 90%">
        <ejs-grid #grid [dataSource]="listProcessButtonOfModal" [allowPaging]="true" [pageSettings]="pageOptions" [allowSorting]="true"
                  [allowResizing]="true" [allowFiltering]="true" [filterSettings]="filterSetting" [showColumnMenu]="true" (rowDataBound)="rowDataBound($event)"
                  height="100%" [toolbar]="buttonToolbar" (rowSelected)="onActivate($event)"
                  (rowDeselected)="onDeActivate($event)" [frozenColumns]="1" [sortSettings]="hasSelectedModal()&&gridConfig.sortSettings "
                  [enableHover]="gridConfig.enableHover">
          <e-columns>
            <e-column field="selectRow" headerText="" width="40" [allowFiltering]="false">
              <ng-template #template let-data>
                <div class="text-center">
                  <input type="checkbox" class="form-check-input" [checked]="data.isSelected" [disabled]="!hasSelectedModal()"
                         (change)="onCheckboxChange(data, $event)" (click)="$event.stopPropagation()"/>
                </div>
              </ng-template>
            </e-column>
            <e-column *ngIf="valueSelectedModal !== ''" field="DisplayOrder" headerText="DisplayOrder" width="140" [allowFiltering]="true" [allowSorting]="true">
              <ng-template #template let-data>
                <div class="text-center">
                  <input class="form-control form-control-sm" type="number" [value]="data.DisplayOrder" min="0" [disabled]="!data.isSelected"
                  style="width: 80px; height: 31px; text-align: center" (click)="$event.stopPropagation()" (change)="onDisplayOrderChange(data, $event)"/>
                </div>
              </ng-template>
            </e-column>
            <e-column headerText="STT" textAlign="Center" width="74">
              <ng-template #template let-data>
                <strong class="text-center">{{getRowIndex(data)}}</strong>
              </ng-template>
            </e-column>
            <e-column field="ButtonCode" headerText="Button Code" width="160" [allowFiltering]="false"></e-column>
            <e-column field="ButtonName" headerText="Button Name" width="160" [allowFiltering]="false"></e-column>
            <e-column field="Description" headerText="Description" width="160" [allowFiltering]="false"></e-column>
            <e-column field="IsActive" headerText="Is Active" width="120" [allowFiltering]="false">
              <ng-template #template let-data>
                <div class="text-center">
                  <input type="checkbox" class="form-check-input" [checked]="data.IsActive"
                         style="pointer-events: none" />
                </div>
              </ng-template>
            </e-column>
            <e-column field="StyleCode" headerText="Style Code" width="160" [allowFiltering]="false"></e-column>
            <e-column field="Action" headerText="Action" width="160" [allowFiltering]="false"></e-column>
            <e-column field="ConfigCode" headerText="Config Code" width="160" [allowFiltering]="false"></e-column>
            <e-column field="IsCheckRole" headerText=IsCheckRole width="140" [allowFiltering]="false">
              <ng-template #template let-data>
                <div class="text-center">
                  <input type="checkbox" class="form-check-input" [checked]="data.IsCheckRole"
                         style="pointer-events: none" />
                </div>
              </ng-template>
            </e-column>
            <e-column field="isUpdated" headerText="IsUpdated" [visible]="false" [allowSorting]="true" [allowFiltering]="true"></e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>

    <!-- Right: Form -->
    <div class="col-4 bg-form p-4 h-100">
      <h5 class="fw-bold mb-3">{{'Create' | translate}}</h5>
      <form name="formInput" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
        <div class="row mb-3">
          <div class="col-12 col-lg-6">
            <label class="form-label" for="codeId">Code:</label>
            <input #ButtonCode='ngModel' required [ngClass]="{'is-invalid': f.submitted&&ButtonCode.invalid}"
              class="form-control" type="text" name="codeButton" id="codeId" [(ngModel)]="valueButton.ButtonCode" />
            <div *ngIf="f.submitted&&ButtonCode.invalid" class="invalid-feedback">
              ButtonCode is required.
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <label class="form-label" for="nameBtnId">Name:</label>
            <input class="form-control" id="nameBtnId" name="nameBtn" type="text"
              [(ngModel)]="valueButton.ButtonName" />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12 col-lg-6">
            <label class="form-label">Style:</label>
            <ejs-dropdownlist [dataSource]="listStyles" [fields]="{text: 'StyleCode', value: 'StyleCode'}"
              [(ngModel)]="valueButton.StyleCode" [placeholder]="'ChooseStyle' | translate" [allowFiltering]="true"
              name="StyleCode">
              <ng-template #itemTemplate let-data>
                <div>{{data.StyleName}} --- {{data.StyleCode}}</div>
              </ng-template>
              <ng-template #valueTemplate let-data>
                <div style="padding: 10px; overflow: hidden; white-space: none">  {{ data.StyleName }} --- {{ data.StyleCode }}</div>
              </ng-template>
            </ejs-dropdownlist>
          </div>
          <div class="col-12 col-lg-6">
            <label class="form-label" for="imageURLId">Image Icon Url:</label>
            <input class="form-control" id="imageURLId" name="imageUrl" type="text"
              [(ngModel)]="valueButton.ImageIcon" />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12 col-lg-6">
            <label class="form-label" for="actionbtnId">Action:</label>
            <input class="form-control" type="number" name="actionBtn" id="actionbtnId"
              [(ngModel)]="valueButton.Action" />
          </div>
          <div class="col-12 col-lg-6">
            <label class="form-label" for="disBtnId">DisplayOrder:</label>
            <input class="form-control" id="disBtnId" name="disBtn" type="number"
              [(ngModel)]="valueButton.DisplayOrder" />
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12 col-lg-6">
            <label class="form-label" for="configCodeId">Config Code:</label>
            <input class="form-control" name="configCodeBtn" id="configCodeId" [(ngModel)]="valueButton.ConfigCode" />
          </div>
          <div class="col-12 col-lg-6">
            <label class="form-label" for="descBtnId">Description:</label>
            <input class="form-control" id="descBtnId" name="descBtn" type="text"
              [(ngModel)]="valueButton.Description" />
          </div>
        </div>

        <div class="mb-3 row">
          <div class="col-12 d-flex flex-column flex-lg-row gap-2 gap-lg-5">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="isRequired"
                [(ngModel)]="valueButton.IsRequired" /> Is Required</label>
            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="isActive"
                [(ngModel)]="valueButton.IsActive" /> Is Active</label>
          </div>
        </div>

        <div class="mb-3 d-flex flex-column flex-xl-row gap-3">
          <button type="submit" class="btn btn-success w-100 w-xl-auto" [disabled]="is_Check_Update ? ( !f.dirty || !f.valid) : !f.valid">{{is_Check_Update ? ('Update' | translate) : ('Create' | translate)}}</button>
          <button type="button" class="btn btn-outline-secondary w-100 me-xl-auto" (click)="onClear(f)">{{'Clear' | translate}}</button>
          <button [disabled]="!is_Check_Update" type="button" class="btn btn-danger w-100 me-xl-auto"
                  (click)="onDeleteRow()">{{'Delete' | translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
