<div class="container-root">
  <div class="row h-100">
    <!--    Left: Table-->
    <div class="col-8 d-flex flex-column section-list border-end h-100">
      <div class="d-flex align-items-center justify-content-between gap-5" style="height: 10%">
        <div class="d-flex align-items-center justify-content-start gap-5">
          <div>
            <label class="form-label" style="font-size: 14px">{{'ChooseScreen' | translate}}:</label>
            <ejs-dropdownlist [dataSource]="listScreens" [fields]="{text: 'ScreenName', value: 'ScreenID'}"
              [(ngModel)]="valueSelectedScreen" [placeholder]="'ChooseScreen' | translate" [allowFiltering]="true"
              (ngModelChange)="onChangeScreen($event)" name="searchModalByScreen"></ejs-dropdownlist>
          </div>
          <div>
            <label class="form-label" style="font-size: 14px">{{'ChooseModal' | translate}}:</label>
            <ejs-dropdownlist [disabled]="valueSelectedScreen==''" [dataSource]="listModalByScreen"
              [fields]="{text: 'ModalName', value: 'ModalID'}" [(ngModel)]="valueSelectedModal"
              [placeholder]="'ChooseModal' | translate" [allowFiltering]="true" (ngModelChange)="onChangeModal($event)"
              name="searchModal"></ejs-dropdownlist>
          </div>
        </div>
        <div class="flex-grow-1  d-flex justify-content-end mb-3 gap-3" style="margin-right: 1rem; margin-top: 2rem">
          <button [disabled]="!is_CheckUpdateGridHeaderOfModal" type="button" class="btn btn-success" style="min-width: 100px"
            (click)="onSaveGridHeaderOfModal()">{{'Save' | translate}}</button>
          <button [disabled]="!is_CheckUpdateGridHeaderOfModal" (click)="onResetGridHeaderOfModal()" type="button" class="btn btn-secondary"
            style="min-width: 100px">{{'Reset' | translate}}
          </button>
        </div>
      </div>
      <!--      Table-->
      <div style="height: 90%">
        <ejs-grid #grid [dataSource]="listProcessGridHeaders" [allowPaging]="true" [pageSettings]="pageOptions"
          [allowSorting]="true" [allowResizing]="true" [allowFiltering]="true" [filterSettings]="filterSetting"
          [showColumnMenu]="true" height="100%" [toolbar]="buttonToolbar" (rowDataBound)="rowDataBound($event)"
          [sortSettings]="hasChooseModal()&&gridConfig.sortSettings" (rowSelected)="onActivate($event)"
          (rowDeselected)="onDeActivate($event)" [frozenColumns]="2" [enableHover]="gridConfig.enableHover">
          (rowSelected)="onActivate($event)">
          <e-columns>
            <e-column field="isSelected" headerText="" width="40" [allowFiltering]="false">
              <ng-template #template let-data>
                <div class="text-center">
                  <input type="checkbox" class="form-check-input" [checked]="data.isSelected"
                    (change)="onCheckboxChange(data, $event)" [disabled]="!hasChooseModal()"
                    (click)="$event.stopPropagation()" />
                </div>
              </ng-template>
            </e-column>
            <e-column *ngIf="valueSelectedScreen!==''" field="DisplayOrder" headerText="DisplayOrder" width="140"
              [allowSorting]="true" [allowFiltering]="true">
              <ng-template #template let-data>
                <div class="text-center">
                  <input type="number" class="form-control form-control-sm" [value]="data.DisplayOrder" min="0"
                    [disabled]="!data.isSelected" (change)="onChangeDisplayOrder(data, $event)" (click)="$event.stopPropagation()"/>
                </div>
              </ng-template>
            </e-column>
            <e-column field="isUpdated" headerText="isUpdated" [visible]="false" [allowFiltering]="true"
              [allowSorting]="true"></e-column>
            <e-column headerText="STT" textAlign="Center" width="74">
              <ng-template #template let-data>
                <strong class="text-center">{{getRowIndex(data)}}</strong>
              </ng-template>
            </e-column>
            <e-column field="HeaderCode" headerText="Header Code" width="160" [allowFiltering]="false"></e-column>
            <e-column field="HeaderName" headerText="Header Name" width="160" [allowFiltering]="false"></e-column>
            <e-column field="ParameterCode" headerText="ParameterCode" width="160" [allowFiltering]="false"></e-column>
            <e-column field="Description" headerText="Description" width="160" [allowFiltering]="false"></e-column>
            <e-column field="IsActive" headerText="Is Active" width="120" [allowFiltering]="false">
              <ng-template #template let-data>
                <div class="text-center">
                  <input type="checkbox" class="form-check-input" [checked]="data.IsActive"
                    style="pointer-events: none" />
                </div>
              </ng-template>
            </e-column>
            <e-column field="StyleCode" headerText="Style Code" width="160" [allowFiltering]="false"></e-column>
            <e-column field="Reference" headerText="Reference" width="160" [allowFiltering]="false"></e-column>
            <e-column field="ReferenceDisplay" headerText="ReferenceDisplay" width="160"
              [allowFiltering]="false"></e-column>
            <e-column field="IsRequired" headerText='IsRequired' width="140" [allowFiltering]="false">
              <ng-template #template let-data>
                <div class="text-center">
                  <input type="checkbox" class="form-check-input" [checked]="data.IsRequired"
                    style="pointer-events: none" />
                </div>
              </ng-template>
            </e-column>
          </e-columns>
        </ejs-grid>
      </div>
    </div>
    <!--    Right: Form-->
    <div class="col-4 bg-form p-4 h-100">
      <h5 class="fw-bold mb-3">{{'Create' | translate}}</h5>
      <form name="formGridHeader" #f='ngForm' (ngSubmit)="f.form.valid && onSubmit()" novalidate>
        <div class="row mb-3">
          <div class="col-12 col-lg-6 ">
            <label class="form-label" for="codeId">Code:</label>
            <input #GridHeader='ngModel' required [ngClass]="{'is-invalid':f.submitted&&GridHeader.invalid}"
              class="form-control" type="text" name="codegridHeader" id="codeId"
              [(ngModel)]="valueGridHeader.HeaderCode" />
            <div *ngIf="f.submitted&&GridHeader.invalid" class="invalid-feedback">
              GridHeader Code is required.
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <label class="form-label" for="namegridHeaderId">Name:</label>
            <input class="form-control" id="namegridHeaderId" name="namegridHeader" type="text"
              [(ngModel)]="valueGridHeader.HeaderName" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-lg-6">
            <label class="form-label">Parameter:</label>
            <ejs-dropdownlist [dataSource]="listParameters" [fields]="{text: 'ParameterCode', value:'ParameterCode'}"
              [(ngModel)]="valueGridHeader.ParameterCode" [placeholder]="'ChooseParameter' | translate"
              [allowFiltering]="true" name="parameterCode">
            </ejs-dropdownlist>
          </div>
          <div class="col-12 col-lg-6">
            <label class="form-label" for="descgridHeaderId">Description:</label>
            <input class="form-control" id="descgridHeaderId" name="descgridHeader" type="text"
              [(ngModel)]="valueGridHeader.Description" />
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-lg-6">
            <label class="form-label" for="refId">Reference:</label>
            <input class="form-control" type="text" name="refgridHeader" id="refId"
              [(ngModel)]="valueGridHeader.Reference" />
          </div>
          <div class="col-12 col-lg-6">
            <label class="form-label">Style:</label>
            <ejs-dropdownlist [dataSource]="listStyles" [fields]="{text:'StyleCode', value: 'StyleCode'}"
              [(ngModel)]="valueGridHeader.StyleCode" [placeholder]="'ChooseStyle' | translate" [allowFiltering]="true"
              name="StyleCode">
              <ng-template #itemTemplate let-data>
                <div>{{data.StyleName}} --- {{data.StyleCode}}</div>
              </ng-template>
              <ng-template #valueTemplate let-data>
                <div style="padding: 10px; overflow-x: hidden ;white-space: nowrap "> {{ data.StyleName }} --- {{
                  data.StyleCode }}</div>
              </ng-template>
            </ejs-dropdownlist>
          </div>
        </div>
        <div class="mb-3 row">
          <div class="col-12 d-flex flex-column flex-lg-row gap-3 gap-lg-5">
            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="isRequired"
                [(ngModel)]="valueGridHeader.IsRequired" /> Is Required</label>
            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="isAction"
                [(ngModel)]="valueGridHeader.IsActive" /> Is Active</label>
          </div>
        </div>
        <div class="mb-3 d-flex flex-column flex-xl-row gap-3">
          <button type="submit" class="btn btn-success w-100 me-xl-auto"
            [disabled]="is_Check_Update ? ( !f.dirty || !f.valid) : !f.valid">{{is_Check_Update ? ('Update' | translate)
            : ('Create' | translate)}}</button>
          <button type="button" class="btn btn-outline-secondary w-100 me-xl-auto" (click)="onClear(f)">{{'Clear' |
            translate}}</button>
          <button [disabled]="!is_Check_Update" type="button" class="btn btn-danger w-100 me-xl-auto"
            (click)="onDeleteRowSelected()">{{'Delete' | translate}}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

